.content{
	background: #f7f7f7;
	position: relative;
	.top-bar{
		position: absolute;
		z-index: 1;
		background: transparent;
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20upx 20upx 0;
		width: 100%;
		box-sizing: border-box;
		/* #ifdef APP-PLUS */
		padding-top: 50upx;
		/* #endif */
		.searchbar{
			flex-grow: 1;
			position: relative;
			&-input{
				background: #e9e9e9;
				padding: 8upx 70upx 8upx 30upx;
				border-radius: 30px;
				height: 50upx;
			}
			.search{
				position: absolute;
				right: 10upx;
				top: 8upx;
				width: 50upx;
				height: 50upx;
				font-size: 50upx;
			}
		}
		.cart{
			margin-left: 20upx;
			font-size: 50upx;
		}
	}
	.carousel{
		position: relative;
		padding-top: 100upx;
		/* #ifdef APP-PLUS */
		padding-top: 140upx;
		/* #endif */
		background: #FFFFFF;
		&-background{
			position: absolute;
			opacity: .85;
			top: 0;
			left: 0;
			height: 100upx;
			/* #ifdef APP-PLUS */
			height: 140upx;
			/* #endif */
			width: 100%;
			filter: blur(100upx);
		}
		&-content{
			position: relative;
			left: 5%;
			width: 90%;
			border-radius: 20upx;
			overflow: hidden;
			height: 300upx;
			&-item,.image-item{
				height: 300upx;
				width: 100%;
				border-radius: 20upx;
				overflow: hidden;
			}
		}
	}
	.floor-content{
		padding: 10upx 0;
		&:nth-child(2n + 1){
			background: #FFFFFF;
		}
		.scroll-view-content{
			white-space: nowrap;
			box-sizing: border-box;
			&.tags-content{
				.tags-content-item{
					display: inline-block;
					padding: 10upx 20upx;
					box-sizing: border-box;
					background: #3F536E;
					border-radius: 10upx;
					margin: 10upx 10upx 20upx;
					color: #FFFFFF;
					font-size: .75rem;
				}
			}
			.good-lessons-content{
				padding: 10upx;
				width: 1050upx;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.basic-lessons-content{
				display: flex;
				justify-content: space-around;
				box-sizing: border-box;
				width: fit-content;
			}
		}
		.new-lessons-content{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 20upx;
			box-sizing: border-box;
		}
	}
}