.container{
	padding: 0 100upx;
	position: relative;
	.logo{
		width: 100%;
		width: 100%;
		height: 310upx;
		margin-top: 100upx;
	}
	.logo-title{
		font-size: 68upx;
		color: $font-color-light;
		text-align: center;
		width: 100%;
	}
	.form-box{
		margin-top: 100upx;
	}
}


